.vaitroContainer {
    padding: 1rem 2rem;

    .vaiTroListContainer {
        .ant-input-search {
            &:hover {
                outline: none;
            }
            button {
                border-left: none;
                background: white;
                &:hover {
                    background: none;
                }

                .anticon {
                    color: #ff7506;
                }
            }
        }
        .tableContainer {
            justify-content: space-between;

            .vaitroTable {
                .ant-table-thead {
                    tr {
                        padding: 1rem 17px;
                        th {
                            text-align: center;
                            /* Orange/$-Orange-400 */
                            background: #ff9138;
                            color: white;
                        }
                    }
                }
                .ant-table-tbody {
                    tr:nth-child(1n) {
                        background: #ffffff;
                    }
                    tr:nth-child(2n) {
                        background: #fff2e7;
                    }
                    tr:hover {
                        cursor: pointer;
                    }
                }

                .textDichvu {
                    .contentDichVu {
                        margin: 0;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
            }
        }

        button.add_vaitro {
            width: 80px;
            color: #ff7506;
            position: absolute;
            top: 33%;
            right: 0;
            /* Orange/$-Orange-50 */
            background: #fff2e7;
            border-color: #fff2e7;
            box-shadow: 0px 0px 6px #e7e9f2;
            border-radius: 8px 0px 0px 8px;
        }
    }

    .themVaiTroContainer {
        .formThemContainer {
            padding: 1rem;
            background: #ffffff;
            /* Shadowbox */

            box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
            border-radius: 16px;
            input {
                &:focus {
                    outline: #ffac6a !important;
                    border-color: #ffac6a;
                    box-shadow: 0 0 0.5px #ffac6a;
                }
                &:hover {
                    outline: #ffac6a !important;
                    border-color: #ffac6a;
                }
            }
            .ant-select-selector,
            .ant-select-show {
                &:focus {
                    outline: #ffac6a !important;
                    border-color: #ffac6a !important;
                    box-shadow: 0 0 0.5px #ffac6a !important;
                }
                &:hover {
                    outline: #ffac6a !important;
                    border-color: #ffac6a !important;
                }
            }

            .checkboxPhanQuyen {
                .ant-checkbox-wrapper {
                    width: 100%;
                    padding: 0;
                    margin: 5px 0;

                    .ant-checkbox-inner {
                        border-color: #4277ff;
                        width: 20px;
                        height: 20px;
                        border-radius: 4px;
                    }
                    span span.content {
                        text-align: left;
                        display: inline-block;
                        width: 150px;
                    }
                }
            }

            .phanquyenChucNang {
                padding: 1rem;
                background: #fff2e7;
                border-radius: 8px;
            }
        }

        .btnGroup {
            button {
                width: 147px;
                box-shadow: 0px 0px 6px #e7e9f2;
                border-radius: 8px;
                &.addBtn {
                    background: #ff9138;
                    border: none;
                    opacity: 0.9;
                    &:hover {
                        opacity: 1;
                    }
                }

                &.resetBtn {
                    background: #fff2e7;
                    color: #ff7506;
                    border-color: #ff7506;
                    opacity: 0.7;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .updateVaiTroContainer {
        .formUpdateContainer {
            padding: 1rem;
            background: #ffffff;
            /* Shadowbox */

            box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
            border-radius: 16px;
        }

        .btnGroup {
            button {
                width: 147px;
                box-shadow: 0px 0px 6px #e7e9f2;
                border-radius: 8px;
                &.updateBtn {
                    background: #ff9138;
                    border: none;
                    opacity: 0.9;
                    &:hover {
                        opacity: 1;
                    }
                }

                &.resetBtn {
                    background: #fff2e7;
                    color: #ff7506;
                    border-color: #ff7506;
                    opacity: 0.7;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .ant-select-selector,
        .ant-select-show {
            &:focus {
                outline: #ffac6a !important;
                border-color: #ffac6a !important;
                box-shadow: 0 0 0.5px #ffac6a !important;
            }
            &:hover {
                outline: #ffac6a !important;
                border-color: #ffac6a !important;
            }
        }
        .checkboxPhanQuyen {
            .ant-checkbox-wrapper {
                width: 100%;
                padding: 0;
                margin: 5px 0;

                .ant-checkbox-inner {
                    border-color: #4277ff;
                    width: 20px;
                    height: 20px;
                    border-radius: 4px;
                }
                span span.content {
                    text-align: left;
                    display: inline-block;
                    width: 150px;
                }
            }
        }

        .phanquyenChucNang {
            padding: 1rem;
            background: #fff2e7;
            border-radius: 8px;
        }
    }
}
