@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;

    h1{
        font-size: 24px;
        font-weight: 700;
    }
     
    .left-navbar{
        font-size: 16px;
        font-weight: 700;
    }
    
}

//Home.tsx
.mainLayout{
    height: 100vh;
}
#main{
    background-color: #F7F7F7;
}

